/*
Skin name: Boxed, Teal
Skin uri: http://skins.semiologic.com/boxed/
Version: 0.9 RC
Author: Denis de Bernardy
Author uri: http://www.mesoconcepts.com
*/


/*
 * Canvas
 */

.sem_admin_menu #wrapper {
	margin-top: 15px;
}

.skin #wrapper,
.skin #header,
.skin #navbar,
.skin #body,
.header_widget .wrapper_item,
#footer_wrapper .wrapper {
	width: auto;
}

#header {
	background-image: url(images/header.jpg);
	background-position: bottom center;
	background-repeat: repeat-x;
}

#navbar_bg {
	margin: 0px auto;
}

.mmm #navbar_bg {
	width: 952px;
}

.mm #navbar_bg {
	width: 752px;
}

.m #navbar_bg {
	width: 622px;
}

.m2s #main,
.m1s #main {
	width: 532px;
}

.mm1s #main {
	width: 632px;
}

.m2s #sidebar,
.m2s #sidebar2 {
	width: 191px;
}

.sms #sidebar_wrapper {
	width: 741px;
}

.main .pad {
	padding: 0px;
}

.pad,
.pad .pad,
.post_list {
	padding: 0px 18px;
}

.ad_unit .main_widget_bg .pad,
.ad_unit .widget_bg .pad {
	padding: 0px;
}

#navbar .pad {
	padding: 0px 1px;
}

#navbar {
	background-image: url(images/navbar.jpg);
	background-position: top center;
	background-repeat: repeat;
	border-bottom: solid 1px;
}

#navbar_bg {
	background-image: url(images/navbar_item.jpg);
	background-position: top left;
	background-repeat: repeat-y;
}

#navbar span {
	display: block;
	float: left;
	padding: 0px;
	margin: 0px;
}

#navbar a {
	background-image: url(images/navbar_item.jpg);
	background-position: top right;
	background-repeat: no-repeat;
	display: block;
	float: left;
	padding-left: 18px;
	padding-right: 20px;
	margin: 0px;
}

#navbar a:hover,
#navbar span.nav_active {
	background-image: url(images/navbar_active.jpg);
	background-position: top right;
	background-repeat: no-repeat;
}

#navbar span.nav_active {
	font-weight: normal;
	padding-left: 18px;
	padding-right: 20px;
	margin: 0px;
}

#navbar span.nav_active a {
	margin-left: -18px;
	margin-right: -20px;
	background: none;
}

#header,
#header_top_wrapper,
#header_middle_wrapper,
#footer_top_wrapper,
#footer_bottom_wrapper {
	border-bottom: solid 1px;
}

#header_top_wrapper,
#footer_top_wrapper,
#footer_bottom_wrapper {
	padding-top: 1px;
}

#footer_bg {
	padding-top: 5px;
	padding-bottom: 5px;
}

.header_widget_bg,
.entry_bg,
.post_list,
.main_widget_bg,
.widget_bg {
	border: solid 1px;
}

.header_widget,
.header_widget_bg,
.entry,
.entry_bg,
.post_list,
.main_widget,
.main_widget_bg,
.widget,
.widget_bg {
	-moz-border-radius: 9px;
	-khtml-border-radius: 9px;
	-webkit-border-radius: 9px;
	border-radius: 9px;
}

.header_widget {
	background-image: url(images/header_widget.jpg);
	background-position: top center;
	background-repeat: repeat-x;
}

.entry,
.main_widget,
.widget {
	background-image: url(images/body.jpg);
	background-position: top center;
	background-repeat: repeat-x;
}

.header_widget_bg {
	padding-top: 5px;
	padding-bottom: 5px;
}

.entry_bg,
.post_list,
.main_widget_bg,
.widget_bg {
	padding-top: 5px;
	padding-bottom: 5px;
}

.main .ad_unit,
.ad_unit .main_widget_bg,
.ad_unit .widget_bg,
.main .blog_footer,
.blog_footer .main_widget_bg {
	border: none;
	background: none;
	padding-top: 0px;
	padding-bottom: 0px;
}

#header_boxes_bg {
	background-image: url(images/header_boxes.gif);
	background-position: center;
	background-repeat: no-repeat;
}

.mmm #header_boxes_bg {
	background-image: url(images/mmm-header_boxes.gif);
}

#footer_boxes_bg {
	background-image: url(images/footer_boxes.gif);
	background-position: center;
	background-repeat: no-repeat;
}

.mmm #footer_boxes_bg {
	background-image: url(images/mmm-footer_boxes.gif);
}

.entry,
.main_widget,
.widget {
	margin-top: 0px;
	margin-bottom: 18px;
}

.header_widget {
	margin-top: 18px;
	margin-bottom: 18px;
}

#body {
	margin-top: 18px;
}

#body_bottom {
	height: 3px;
	border-top: solid 1px;
	border-bottom: solid 1px;
}

.footer_widget {
	margin-top: 10px;
	margin-bottom: 10px;
}

#footer_boxes {
	margin-top: 0px;
	margin-bottom: 0px;
}

.widget_title h2 {
	margin-top: -6px;
	margin-left: -19px;
	margin-right: -19px;
	padding: 5px 18px 3px;
	border: solid 1px;
	-moz-border-radius-topleft: 9px;
	-moz-border-radius-topright: 9px;
	-khtml-border-top-left-radius: 9px;
	-khtml-border-top-right-radius: 9px;
	-webkit-border-top-left-radius: 9px;
	-webkit-border-top-right-radius: 9px;
	border-top-left-radius: 9px;
	border-top-right-radius: 9px;
	background-image: url(images/widget_header.jpg);
	background-position: top center;
	background-repeat: repeat-x;
}

.widget_title h2 {
	font-size: 17px;
}

.widget_calendar table,
.widget_calendar thead,
.widget_calendar tfoot {
	border: solid 1px;
}


/*
 * Skin Colors
 */

#wrapper,
#body,
#main {
	background-color: #eee;
	color: #111;
}

.main h1,
.main h2,
.main h3,
.sidebar h1,
.sidebar h2,
.widget_calendar caption {
	color: #000;
}

#body_bottom {
	background-color: #ccc;
	border-color: #999;
}

.header_widget_bg,
.entry_bg,
.post_list,
.main_widget_bg,
.widget_bg,
.widget_calendar table,
.widget_calendar tfoot {
	border-color: #999;
}

.entry,
.main_widget,
.widget,
.widget_calendar table {
	background-color: #fff;
	color: #111;
}


/*
 * Scheme Colors
 * H180 S95 L45
 */

#navbar,
.widget_calendar thead,
.widget_title h2,
#footer,
#credits,
html /* credits bottom */ {
	background-color: #067878; /* - */
	color: #fff;
}

#header,
#footer_wrapper {
	background-color: #bdf2f2; /* L92 */
	color: #000;
}

.header_widget {
	background-color: #fff2f2; /* C-L97 */
	color: #000;
}

.widget_calendar tfoot {
	background-color: #bdf2f2; /* L92 */
	color: #000;
}

#navbar a,
#footer a,
#credits a {
	color: #fff;
}

#footer a:hover,
#credits a:hover {
	color: #beeded; /* S/L 20/90 */
}

#header,
#navbar,
#go,
#header_top_wrapper,
#header_middle_wrapper,
#footer_top_wrapper,
#footer_bottom_wrapper {
	border-color: #033b3b; /* B/2 */
}

.widget_calendar thead,
.widget_title h2 {
	border-color: #3b3b3b; /* B/2 S0 */
}

#body_bottom {
	border-bottom-color: #3b3b3b; /* B/2 S0 */
}
