/*
Skin name: Boxed, Brown
Skin uri: http://skins.semiologic.com/boxed/
Version: 0.9 RC
Author: Denis de Bernardy
Author uri: http://www.mesoconcepts.com
*/


/*
 * Canvas
 */

.sem_admin_menu #wrapper {
	margin-top: 15px;
}

.skin #wrapper,
.skin #header,
.skin #navbar,
.skin #header_wrapper,
.skin #footer_wrapper,
.skin #body,
.skin #credits,
#footer_wrapper .wrapper {
	width: 100%;
}

.mmm #navbar_bg,
.mmm #credits_bg {
	width: 952px;
}

.mm #navbar_bg,
.mm #credits_bg {
	width: 752px;
}

.m #navbar_bg,
.m #credits_bg {
	width: 622px;
}

.m2s #main,
.m1s #main {
	width: 532px;
}

.mm1s #main {
	width: 632px;
}

.m2s #sidebar,
.m2s #sidebar2 {
	width: 191px;
}

.sms #sidebar_wrapper {
	width: 741px;
}

.mmm #header_boxes .inline_box {
	width: 316px;
}

.main .pad {
	padding: 0px;
}

.pad,
.pad .pad,
.post_list {
	padding: 0px 18px;
}

.ad_unit .main_widget_bg .pad,
.ad_unit .widget_bg .pad {
	padding: 0px;
}

#navbar .pad {
	padding: 0px 2px;
}

#navbar {
	background-image: url(images/navbar.jpg);
	border-top: solid 1px;
	border-bottom: solid 1px;
}

#navbar_bg {
	background-image: url(images/navbar_bg.jpg);
}

#navbar span {
	display: block;
	float: left;
	padding: 0px;
	margin: 0px;
}

#navbar a {
	background-image: url(images/navbar_bg.jpg);
	display: block;
	float: left;
	padding-left: 17px;
	padding-right: 19px;
	margin: 0px;
}

#navbar a:hover,
#navbar span.nav_active {
	background-image: url(images/navbar_active.jpg);
}

#navbar span.nav_active {
	font-weight: normal;
	padding-left: 17px;
	padding-right: 19px;
	margin: 0px;
}

#navbar span.nav_active a {
	margin-left: -17px;
	margin-right: -19px;
	background: none;
}

#top_split {
	padding-top: 1px;
}

#pre_header_split,
#header_split,
#footer_split {
	height: 3px;
	border-top: solid 1px;
	border-bottom: solid 1px;
}

#footer {
	padding-top: 10px;
	padding-bottom: 10px;
}

#header_boxes_bg,
.header_widget_bg,
.entry_bg,
.post_list,
.main_widget_bg,
.widget_bg {
	border: solid 1px;
	-moz-border-radius: 9px;
	-khtml-border-radius: 9px;
	-webkit-border-radius: 9px;
	border-radius: 9px;
}

#header_boxes_bg,
.header_widget_bg {
	background-image: url(images/header_widget_bg.jpg);
	background-position: top center;
	background-repeat: repeat-x;
	padding-top: 5px;
	padding-bottom: 5px;
}

.entry_bg,
.main_widget_bg,
.widget_bg {
	background-image: url(images/body_bg.jpg);
	background-position: top center;
	background-repeat: repeat-x;
	padding-top: 5px;
	padding-bottom: 5px;
}

.ad_unit .entry_bg,
.ad_unit .main_widget_bg,
.ad_unit .widget_bg,
.blog_footer .main_widget_bg {
	border: none;
	background: none;
	padding-top: 0px;
	padding-bottom: 0px;
}

#footer_boxes {
	background-image: url(images/footer_boxes.jpg);
	background-repeat: no-repeat;
}

.mmm #footer_boxes {
	background-image: url(images/mmm-footer_boxes.jpg);
}

.entry,
.main_widget,
.widget,
#top_split,
#header_split,
#navbar_split,
#header_boxes,
.header_widget {
	margin-top: 0px;
	margin-bottom: 18px;
}

#footer_boxes,
.footer_widget {
	margin-top: 10px;
	margin-bottom: 10px;
}

h2.widget_title {
	padding-bottom: 3px;
	border-bottom: solid 1px;
}


/*
 * Skin Colors
 */

#header {
	background-color: #fff;
	color: #000;
}

#main,
.sidebar {
	color: #111;
}

.entry_bg,
.main_widget_bg,
.widget_bg {
	background-color: #fff;
}

body,
#body,
#header_wrapper,
#body_wrapper,
.blog_footer {
	background-color: #f7f7f7;
	color: #111;
}

#pre_header_split,
#header_split,
#footer_split {
	background-color: #ddd;
	color: #000;
	border-color: #bbb;
}

#header_split {
	border-top-color: #999;
}

#pre_header_split,
#footer_split {
	border-bottom-color: #999;
}

#header_boxes_bg,
.header_widget_bg,
.entry_bg,
.main_widget_bg,
.widget_bg {
	border-color: #bbb;
}

h2.widget_title {
	border-color: #bbb;
}


/*
 * Scheme Colors
 * H30 S80 L40
 */

#sitename {
	color: #4d2600; /* S100 L20 */
}

#navbar,
.widget_calendar thead {
	background-color: #87511b; /* - */
	color: #fff;
}

#navbar a {
	color: #fff;
}

#navbar,
#go {
	border-color: #45290e; /* L/2 */
}

#header_boxes,
.header_widget,
.widget_calendar tfoot {
	background-color: #faf7ed; /* A-S5 L97 */
	color: #000;
}

#footer_wrapper,
#footer_boxes {
	background-color: #ffe2d9; /* A-S15 L92 */
	color: #000;
}

#footer,
#credits,
html /* credits bottom */ {
	background-color: #472707; /* S+10 L/2 */
	color: #fff;
}

#footer a,
#credits a {
	color: #fff;
}

#footer a:hover,
#credits a:hover {
	color: #f2e0ce; /* S15 L90 */
}