/*
Skin name: Boxed, Gold
Skin uri: http://skins.semiologic.com/boxed/
Version: 0.9 RC
Author: Denis de Bernardy
Author uri: http://www.mesoconcepts.com
*/


/*
 * Canvas
 */

.sem_admin_menu #wrapper {
	margin-top: 15px;
}

.skin #wrapper,
.skin #header,
.skin #navbar,
.skin #body,
#footer_wrapper .wrapper {
	width: 100%;
}

#navbar_bg {
	margin: 0px auto;
}

.mmm #navbar_bg {
	width: 952px;
}

.mm #navbar_bg {
	width: 752px;
}

.m #navbar_bg {
	width: 622px;
}

.m2s #main,
.m1s #main {
	width: 532px;
}

.mm1s #main {
	width: 632px;
}

.m2s #sidebar,
.m2s #sidebar2 {
	width: 191px;
}

.sms #sidebar_wrapper {
	width: 741px;
}

.main .pad {
	padding: 0px;
}

.pad,
.pad .pad,
.post_list {
	padding: 0px 18px;
}

.ad_unit .main_widget_bg .pad,
.ad_unit .widget_bg .pad {
	padding: 0px;
}

#navbar .pad {
	padding: 0px 1px;
}

#navbar {
	background-image: url(images/navbar.jpg);
	background-position: top center;
	background-repeat: repeat;
	border-bottom: solid 1px;
}

#navbar_bg {
	background-image: url(images/navbar_bg.jpg);
	background-position: top left;
	background-repeat: repeat-y;
}

#navbar span {
	display: block;
	float: left;
	padding: 0px;
	margin: 0px;
}

#navbar a {
	background-image: url(images/navbar_bg.jpg);
	background-position: top right;
	background-repeat: no-repeat;
	display: block;
	float: left;
	padding-left: 18px;
	padding-right: 20px;
	margin: 0px;
}

#navbar a:hover,
#navbar span.nav_active {
	background-image: url(images/navbar_active.jpg);
	background-position: top right;
	background-repeat: no-repeat;
}

#navbar span.nav_active {
	font-weight: normal;
	padding-left: 18px;
	padding-right: 20px;
	margin: 0px;
}

#navbar span.nav_active a {
	margin-left: -18px;
	margin-right: -20px;
	background: none;
}

#header,
#header_top_wrapper,
#header_middle_wrapper {
	border-bottom: solid 1px;
}

#header_top_wrapper {
	padding-top: solid 1px;
}

#footer_top_wrapper,
#footer_bottom_wrapper {
	border-bottom: solid 1px;
}

#footer_bottom_wrapper {
	border-top: 1px;
}

#footer_top_wrapper {
	padding-top: 1px;
}

#footer {
	padding-top: 5px;
	padding-bottom: 5px;
}

#header_boxes_bg,
.header_widget_bg,
.entry_bg,
.post_list,
.main_widget_bg,
.widget_bg {
	border: solid 1px;
	-moz-border-radius: 9px;
	-khtml-border-radius: 9px;
	-webkit-border-radius: 9px;
	border-radius: 9px;
}

#header_boxes_bg,
.header_widget_bg {
	background-image: url(images/header_widget_bg.jpg);
	background-position: top center;
	background-repeat: repeat-x;
	padding-top: 5px;
	padding-bottom: 5px;
}

.entry_bg,
.post_list,
.main_widget_bg,
.widget_bg {
	background-image: url(images/body_bg.jpg);
	background-position: top center;
	background-repeat: repeat-x;
	padding-top: 5px;
	padding-bottom: 5px;
}

.ad_unit .main_widget_bg,
.ad_unit .widget_bg,
.blog_footer .main_widget_bg {
	border: none;
	background: none;
	padding-top: 0px;
	padding-bottom: 0px;
}

#footer_boxes {
	background-image: url(images/footer_boxes.jpg);
	background-position: center;
	background-repeat: no-repeat;
	padding-top: 5px;
	padding-bottom: 5px;
}

.mmm #footer_boxes {
	background-image: url(images/mmm-footer_boxes.jpg);
}

.entry,
.main_widget,
.widget {
	margin-top: 0px;
	margin-bottom: 18px;
}

#header_boxes,
.header_widget {
	margin-top: 18px;
	margin-bottom: 18px;
}

#body {
	margin-top: 18px;
}

#body_bottom {
	height: 3px;
	border-top: solid 1px;
	border-bottom: solid 1px;
}

.footer_widget {
	margin-top: 10px;
	margin-bottom: 10px;
}

h2.widget_title {
	padding-bottom: 3px;
	border-bottom: solid 1px;
}

.widget_calendar table,
.widget_calendar thead,
.widget_calendar tfoot {
	border: solid 1px;
}


/*
 * Skin Colors
 */

#wrapper,
#body {
	background-color: #eee;
	color: #111;
}

.main h1,
.main h2,
.main h3,
.sidebar h1,
.sidebar h2 {
	color: #000;
}

#body_bottom {
	background-color: #ccc;
	border-color: #999;
}

#header_boxes_bg,
.header_widget_bg,
.entry_bg,
.post_list,
.main_widget_bg,
.widget_bg,
h2.widget_title,
.widget_calendar table,
.widget_calendar tfoot {
	border-color: #999;
}

.widget_calendar table,
.entry_bg,
.post_list,
.main_widget_bg,
.widget_bg {
	background-color: #fff;
}


/*
 * Scheme Colors
 * H45 S95 L80
 */

#navbar,
.widget_calendar thead {
	background-color: #f7bd0c; /* - */
	color: #000;
}

#header,
#footer_wrapper {
	background-color: #ffddad; /* AL+ L+10%r5 */
	color: #000;
}

#footer,
#credits,
html /* credits bottom */ {
	background-color: #e5af0b; /* L-5 */
	color: #000;
}

#header_boxes_bg,
.header_widget_bg {
	background-color: #f2f5ff; /* C-S5 L97 */
	color: #000;
}

.widget_calendar tfoot {
	background-color: #faf5ed; /* AL+ S5 L97 */
	color: #000;
}

#navbar a,
#footer_wrapper a,
#credits a {
	color: #000;
}

#footer_wrapper a:hover,
#credits a:hover {
	color: #2e2407; /* S/L 15/85 */
}

#header,
#navbar,
#go,
#header_top_wrapper,
#header_middle_wrapper,
#footer_top_wrapper,
#footer_bottom_wrapper {
	border-color: #7a5d06; /* B/2 */
}

.widget_calendar thead {
	border-color: #7a7a7a; /* B/2 S0 */
}

#body_bottom {
	border-bottom-color: #7a7a7a; /* B/2 S0 */
}
