/*
Skin name: Classic, Black
Skin uri: http://skins.semiologic.com/classic/
Version: 0.9 RC
Author: Denis de Bernardy
Author uri: http://www.mesoconcepts.com
*/


/*
 * Canvas
 */

html {
	background-image: url(images/bg.jpg);
	background-repeat: repeat-x;
	background-position: top center;
}

#wrapper {
	margin-top: 10px;
	margin-bottom: 5px;
	-moz-box-shadow: rgba(0,0,0,.4) 0 0 5px;
	-khtml-box-shadow: rgba(0,0,0,.4) 0 0 5px;
	-webkit-box-shadow: rgba(0,0,0,.4) 0 0 5px;
	box-shadow: rgba(0,0,0,.4) 0 0 5px;
}

#credits {
	margin-top: 5px;
	margin-bottom: 5px;
}

.sem_admin_menu #wrapper {
	margin-top: 20px;
}

.mmm #wrapper {
	width: 950px;
}

.mm #wrapper {
	width: 750px;
}

.m #wrapper {
	width: 620px;
}

#wrapper {
	border: solid 1px;
}

#navbar .pad {
	padding: 0px 0px;
}

#search_form {
	padding: 0px 20px;
}

#sidebars #sidebar .pad {
	padding-right: 10px;
}

#sidebars #sidebar2 .pad {
	padding-left: 10px;
}

#navbar {
	background-image: url(images/navbar.jpg);
	background-position: top center;
	background-repeat: repeat;
}

#navbar span {
	display: block;
	float: left;
	padding: 0px;
	margin: 0px;
}

#navbar a {
	background-image: url(images/navbar_bg.jpg);
	background-position: top right;
	background-repeat: no-repeat;
	display: block;
	float: left;
	padding-left: 20px;
	padding-right: 22px;
	margin: 0px;
}

#navbar a:hover,
#navbar span.nav_active {
	background-image: url(images/navbar_active.jpg);
	background-position: top right;
	background-repeat: no-repeat;
}

#navbar span.nav_active {
	font-weight: normal;
	padding-left: 20px;
	padding-right: 22px;
	margin: 0px;
}

#navbar span.nav_active a {
	margin-left: -20px;
	margin-right: -22px;
	background: none;
}

#header,
#navbar,
#header_top_wrapper,
#header_middle_wrapper,
#header_bottom_wrapper {
	border-bottom: solid 1px;
}

#footer,
#footer_top_wrapper,
#footer_bottom_wrapper {
	border-top: solid 1px;
}

#footer {
	padding-top: 5px;
	padding-bottom: 5px;
}

#header_top_wrapper,
#header_middle_wrapper,
#header_bottom_wrapper,
#footer_top_wrapper,
#footer_bottom_wrapper {
	padding-top: 1px;
	padding-bottom: 1px;
	background-image: url(images/header_widget_bg.jpg);
	background-repeat: repeat-x;
	background-position: top center;
}

#footer_boxes {
	background-image: url(images/footer_boxes.jpg);
	background-position: center;
	background-repeat: no-repeat;
}

.mmm #footer_boxes {
	background-image: url(images/mmm-footer_boxes.jpg);
}

.header_widget,
.footer_widget,
#footer_boxes {
	margin-top: 10px;
	margin-bottom: 10px;
}

#header_wrapper .ad_unit,
#footer_wrapper .ad_unit {
	margin-top: -1px;
	margin-bottom: -1px;
}

#header_boxes .ad_unit,
#footer_boxes .ad_unit  {
	margin-top: 10px;
	margin-bottom: 10px;
}

#body {
	background-image: url(images/body_bg.jpg);
	background-repeat: repeat-x;
	background-position: top center;
}

#body_bg {
	padding-top: 5px;
	background-repeat: repeat-y;
	background-position: center;
}

.mts #body_bg {
	background-image: url(images/mts-body.gif);
}

.tsm #body_bg {
	background-image: url(images/tsm-body.gif);
}

.sms #body_bg {
	background-image: url(images/sms-body.gif);
}

.mms #body_bg,
.ms #body_bg {
	background-image: url(images/ms-body.gif);
}

.smm #body_bg,
.sm #body_bg {
	background-image: url(images/sm-body.gif);
}

.entry_bottom {
	margin: 20px auto;
	height: 1px;
	width: 40%;
}

.single .entry_bottom,
.page .entry_bottom {
	height: 0px;
	margin: 0px;
}

#sidebars .sidebar {
	margin-bottom: 0px;
}

#sidebars .widget:first-child {
	margin-top: 0px;
}

#sidebars .widget:last-child {
	margin-bottom: 0px;
}

#sidebars .widget.ad_unit:first-child {
	margin-top: 10px;
	margin-bottom: 20px;
}

#sidebars .widget.ad_unit:last-child {
	margin-bottom: 10px;
}

h2.widget_title {
	padding-bottom: 3px;
	border-bottom: solid 1px;
}

.widget_calendar table,
.widget_calendar thead,
.widget_calendar tfoot {
	border: solid 1px;
}


/*
 * Skin Colors
 */

#wrapper,
#body {
	background-color: #fff;
	color: #111;
}

#header {
	background-color: #fff;
	color: #000;
}

.main h1,
.main h2,
.main h3,
.sidebar h1,
.sidebar h2,
.widget_calendar caption {
	color: #000;
}

.widget_calendar table,
.widget_calendar tfoot,
h2.widget_title {
	border-color: #999;
}

.entry_bottom {
	background-color: #999;
}


/*
 * Scheme Colors
 * H45 S0 L12
 */

#navbar,
.widget_calendar thead {
	background-color: #1f1f1f; /* - */
	color: #fff;
}

html {
	background-color: #ebf0ff; /* C-S10 L95 */
	color: #111;
}

#header_wrapper,
#footer_wrapper {
	background-color: #f7efdf; /* AL-S10 L95 */
	color: #000;
}

#footer {
	background-color: #f0e1b4; /* S25 L90 */
	color: #000;
}

.widget_calendar tfoot {
	background-color: #f6f6f6; /* L97 */
	color: #000;
}

#sitename {
	color: #1f1f1f; /* L20 */
}

#navbar a {
	color: #fff;
}

#footer a {
	color: #000;
}

#footer a:hover {
	color: #2e2407; /* S/L 15/85 */
}

#go {
	border-color: #0f0f0f; /* B/2 */
}

#wrapper,
#header,
#navbar,
#header_top_wrapper,
#header_middle_wrapper,
#header_bottom_wrapper,
#footer,
#footer_top_wrapper,
#footer_bottom_wrapper,
.widget_calendar thead {
	border-color: #0f0f0f; /* B/2 S0 */
}
