# BEGIN WordPress
<IfModule mod_rewrite.c>
RewriteEngine On
# Redirect FeedBurner to your own Feed
RewriteBase /
RewriteRule ^feedburner_655669/?$ /feed/ [R,L]
RewriteCond %{HTTP_USER_AGENT} ^FeedBurner.*$
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /index.php [L]
# These Rules redirect all feed Traffic to FeedBurner
RewriteBase /
RewriteCond %{QUERY_STRING} ^feed=(feed|rdf|rss|rss2|atom)$
RewriteRule ^(.*)$ http://feeds.feedburner.com/ThePaulColliganBlog [R,L]
RewriteRule ^(feed|rdf|rss|rss2|atom)/?(feed|rdf|rss|rss2|atom)?/?$ http://feeds.feedburner.com/ThePaulColliganBlog [R,L]
RewriteRule ^wp-(feed|rdf|rss|rss2|atom).php http://feeds.feedburner.com/ThePaulColliganBlog [R,L]
# These are the standard WordPress Rules
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /index.php [L]
</IfModule>

# END WordPress












































































































































































































































































































































































































































































