/*
Skin name: Classic, Gold
Skin uri: http://skins.semiologic.com/classic/
Version: 0.9 RC
Author: Denis de Bernardy
Author uri: http://www.mesoconcepts.com
*/


/*
 * Canvas
 */

#wrapper {
	margin-top: 15px;
}

.sem_admin_menu #wrapper {
	margin-top: 30px;
}

.mmm #wrapper {
	width: 952px;
}

.mm #wrapper {
	width: 752px;
}

.m #wrapper {
	width: 622px;
}

#wrapper_bg {
	border: solid 1px;
}

#sidebars #sidebar .pad {
	padding-right: 10px;
}

#sidebars #sidebar2 .pad {
	padding-left: 10px;
}

#navbar .pad {
	padding: 0px 2px;
}

#search_form {
	padding: 0px 18px;
}

#navbar {
	background-image: url(images/navbar.jpg);
	border-top: solid 1px;
	border-bottom: solid 1px;
}

#navbar_bg {
	background-image: url(images/navbar_bg.jpg);
}

#navbar span {
	display: block;
	float: left;
	padding: 0px;
	margin: 0px;
}

#navbar a {
	background-image: url(images/navbar_bg.jpg);
	display: block;
	float: left;
	padding-left: 17px;
	padding-right: 19px;
	margin: 0px;
}

#navbar a:hover,
#navbar span.nav_active {
	background-image: url(images/navbar_active.jpg);
}

#navbar span.nav_active {
	font-weight: normal;
	padding-left: 17px;
	padding-right: 19px;
	margin: 0px;
}

#navbar span.nav_active a {
	margin-left: -17px;
	margin-right: -19px;
	background: none;
}

#top_split {
	padding-top: 1px;
}

#pre_header_split,
#header_split,
#body_split {
	border-top: solid 1px;
}

#footer_split {
	height: 3px;
	border-top: solid 1px;
	border-bottom: solid 1px;
}

#bottom_split {
	padding-bottom: 1px;
}

#footer {
	padding-top: 10px;
	padding-bottom: 10px;
}

#header_boxes {
	background-image: url(images/header_boxes.jpg);
	background-repeat: no-repeat;
}

.mmm #header_boxes {
	background-image: url(images/mmm-header_boxes.jpg);
}

#footer_boxes {
	background-image: url(images/footer_boxes.jpg);
	background-repeat: no-repeat;
}

.mmm #footer_boxes {
	background-image: url(images/mmm-footer_boxes.jpg);
}

#body_bg {
	padding-top: 10px;
}

#sidebars .sidebar {
	margin-bottom: 0px;
}

#sidebars .widget:first-child {
	margin-top: 0px;
}

#sidebars .widget:last-child {
	margin-bottom: 0px;
}

#sidebars .widget.ad_unit:first-child {
	margin-top: 10px;
	margin-bottom: 20px;
}

#sidebars .widget.ad_unit:last-child {
	margin-bottom: 10px;
}

#header_boxes,
.header_widget,
#footer_boxes,
.footer_widget {
	margin-top: 10px;
	margin-bottom: 10px;
}

#header_wrapper .ad_unit,
#footer_wrapper .ad_unit {
	margin-top: 0px;
	margin-bottom: 0px;
}

#header_boxes .ad_unit,
#footer_boxes .ad_unit  {
	margin-top: 10px;
	margin-bottom: 10px;
}


#top_split + .ad_unit  {
	margin-top: -1px;
}

.entry_bottom {
	margin: 18px auto;
	height: 1px;
	width: 40%;
}

.single .entry_bottom,
.page .entry_bottom {
	height: 0px;
	margin: 0px;
}

h2.widget_title {
	padding-bottom: 3px;
	border-bottom: solid 1px;
}


/*
 * Skin Colors
 */

#header {
	background-color: #fff;
	color: #000;
}

html,
body {
	background-color: #eee;
	color: #111;
}

#wrapper_bg,
#pre_header_split,
#header_split,
#body_split {
	border-color: #999;
}

#footer_split {
	background-color: #ddd;
	color: #000;
	border-color: #bbb;
}

.entry_bottom {
	background-color: #bbb;
}

#footer_split {
	border-bottom-color: #999;
}

.main,
.sidebar {
	color: #111;
}

#wrapper,
#body {
	background-color: #fff;
}

h2.widget_title {
	border-color: #bbb;
}


/*
 * Scheme Colors
 * H45 S90 L80
 */

#sitename {
	color: #3d2e00; /* S100 L20 */
}

#navbar,
.widget_calendar thead {
	background-color: #f2bc18; /* - */
	color: #000;
}

#navbar a {
	color: #000;
}

#navbar,
#go {
	border-color: #73590b; /* L/2 */
}

#header_wrapper,
#header_boxes,
.header_widget,
.widget_calendar tfoot {
	background-color: #fcf6f0; /* A-S5 L97 */
	color: #000;
}

#footer_wrapper,
#footer_boxes {
	background-color: #ebebc7; /* A-S15 L92 */
	color: #000;
}

#footer {
	background-color: #755800; /* S+10 L/2 */
	color: #fff;
}

#footer a {
	color: #fff;
}

#footer a:hover {
	color: #ebe2c7; /* S15 L90 */
}