/*
Skin name: Copywriter (Gold)
Version: 0.2 RC
Author: Denis de Bernardy
Author uri: http://www.mesoconcepts.com
*/


/*
 * Canvas
 */

html {
	background: #4d4736;
	color: #eee;
}

.skin #wrapper,
.skin .wrapper {
	width: 100%;
}

#wrapper {
	background: #fff;
	color: #000;
}



/*
 * Header
 */

#header {
	background: url(images/header.jpg) bottom center repeat-x #e5ac00;
	color: #b30909;
}

#tagline {
	color: #000;
}


/*
 * Navbar
 */

#navbar {
	background: #b30909;
	color: #fff;
	margin-bottom: 5px;
}

#navbar_bottom {
	height: 1px;
	background: #fff;
	border-top: solid 10px #ffd966;
	border-bottom: solid 4px #4d4736;
}

#navbar a {
	color: #fff;
}

#navbar a:hover {
	color: #fdb;
}


/*
 * Footer
 */

#footer {
	background: #4d4736;
	color: #fff;
	border-top: solid 1px #666;
	padding-top: 5px;
	padding-bottom: 5px;
	margin-top: 5px;
}

#footer a {
	color: #fff;
}

#footer a:hover {
	color: #fc9;
}


/*
 * Header & Footer Boxes
 */

#header_boxes_top,
#header_boxes_bottom,
#footer_boxes_top,
#footer_boxes_bottom {
	height: 10px;
}

.mmm #header_boxes,
.mmm #footer_boxes {
	background: url(images/mmm-inline_boxes.jpg) center repeat-y;
}

.mmm #header_boxes_top,
.mmm #footer_boxes_top {
	background: url(images/mmm-inline_boxes_top.jpg) bottom center no-repeat;
}

.mmm #header_boxes_bottom,
.mmm #footer_boxes_bottom {
	background: url(images/mmm-inline_boxes_bottom.jpg) top center no-repeat;
}

.mm #header_boxes,
.mm #footer_boxes {
	background: url(images/mm-inline_boxes.jpg) center repeat-y;
}

.mm #header_boxes_top,
.mm #footer_boxes_top {
	background: url(images/mm-inline_boxes_top.jpg) bottom center no-repeat;
}

.mm #header_boxes_bottom,
.mm #footer_boxes_bottom {
	background: url(images/mm-inline_boxes_bottom.jpg) top center no-repeat;
}

.m #header_boxes,
.m #footer_boxes {
	background: url(images/m-inline_boxes.jpg) center repeat-y;
}

.m #header_boxes_top,
.m #footer_boxes_top {
	background: url(images/m-inline_boxes_top.jpg) bottom center no-repeat;
}

.m #header_boxes_bottom,
.m #footer_boxes_bottom {
	background: url(images/m-inline_boxes_bottom.jpg) top center no-repeat;
}


/*
 * Header and Footer Widgets
 */

.header_widget_top,
.header_widget_bottom,
.footer_widget_top,
.footer_widget_bottom {
	height: 10px;
}

.mmm .header_widget,
.mmm .footer_widget {
	background: url(images/mmm-wrapper_widget.jpg) center repeat-y;
}

.mmm .header_widget_top,
.mmm .footer_widget_top {
	background: url(images/mmm-wrapper_widget_top.jpg) bottom center no-repeat;
}

.mmm .header_widget_bottom,
.mmm .footer_widget_bottom {
	background: url(images/mmm-wrapper_widget_bottom.jpg) top center no-repeat;
}

.mm .header_widget,
.mm .footer_widget {
	background: url(images/mm-wrapper_widget.jpg) center repeat-y;
}

.mm .header_widget_top,
.mm .footer_widget_top {
	background: url(images/mm-wrapper_widget_top.jpg) bottom center no-repeat;
}

.mm .header_widget_bottom,
.mm .footer_widget_bottom {
	background: url(images/mm-wrapper_widget_bottom.jpg) top center no-repeat;
}

.m .header_widget,
.m .footer_widget {
	background: url(images/m-wrapper_widget.jpg) bottom center repeat-y;
}

.m .header_widget_top,
.m .footer_widget_top {
	background: url(images/m-wrapper_widget_top.jpg) bottom center no-repeat;
}

.m .header_widget_bottom,
.m .footer_widget_bottom {
	background: url(images/m-wrapper_widget_bottom.jpg) top center no-repeat;
}


/*
 * Body
 */


/*
 * Credits
 */

#credits {
	margin-top: 10px;
	margin-bottom: 10px;
}

#credits a {
	color: #fff;
}

#credits a:hover {
	color: #fc9;
}


/*
 * Content
 */

.entry_header {
	color: #b30909;
}

.entry_date,
.comment_date {
	color: #444;
}

.entry_actions p,
.comment_actions p {
	padding-top: 1px;
	border-top: solid 1px #bf7373;
}

blockquote {
	background: url(icons/blockquote.gif) top left no-repeat;
	padding: 10px 10px 10px 50px;
	margin-left: 0px;
}

.comment_header {
	width: 160px;
	float: left;
}

.comment {
	margin-left: 170px;
}


/*
 * Sidebars
 */

.widget_title h2 {
	padding-bottom: 1px;
	border-bottom: solid 1px #bf7373;
}

.sms .sidebar_top,
.sms .sidebar_bottom,
.mm1s .sidebar_top,
.mm1s .sidebar_bottom,
.m1s .sidebar_top,
.m1s .sidebar_bottom {
	height: 10px;
}

.sms .sidebar,
.mm1s .sidebar,
.m1s .sidebar {
	background: url(images/sidebar.jpg) center repeat-y;
}

.sms .sidebar_top,
.mm1s .sidebar_top,
.m1s .sidebar_top {
	background: url(images/sidebar_top.jpg) bottom center no-repeat;
}

.sms .sidebar_bottom,
.mm1s .sidebar_bottom,
.m1s .sidebar_bottom {
	background: url(images/sidebar_bottom.jpg) top center no-repeat;
}

.mts #sidebars_top,
.mts #sidebars_bottom,
.tsm #sidebars_top,
.tsm #sidebars_bottom {
	height: 10px;
}

.mts #sidebars,
.tsm #sidebars {
	background: url(images/sidebars.jpg) center repeat-y;
}

.mts #sidebars_top,
.tsm #sidebars_top {
	background: url(images/sidebars_top.jpg) bottom center no-repeat;
}

.mts #sidebars_bottom,
.tsm #sidebars_bottom {
	background: url(images/sidebars_bottom.jpg) top center no-repeat;
}


/*
 * Calendar
 */

#wp-calendar {
	border: solid 1px #666;
	background: #fff;
}

#wp-calendar thead {
	border-bottom: solid 1px #666;
	background: #b30909;
	color: #ffe;
}

#wp-calendar tfoot {
	border-top: solid 1px #666;
	background: #ffecb2;
}

#wp-calendar tfoot a {
	color: #000;
}

#wp-calendar tfoot a:hover {
	color: #c22;
}


/*
 * Icons
 */

.header_widget ul,
.footer_widget ul,
.inline_box ul,
.main_widget ul,
.inline_widget ul,
.post_list ul,
.widget ul {
	list-style-image: url(icons/file.gif);
}

.widget_categories ul,
.widget_archive ul {
	list-style-image: url(icons/folder.gif);
}

li.nav_home,
li.nav_blog,
li.nav_branch {
	list-style-image: url(icons/folder.gif);
}

li.nav_leaf {
	list-style-image: url(icons/file.gif);
}

.link_entry a,
.link_comment a {
	background: url(icons/file.gif) center left no-repeat;
	padding-left: 14px;
	padding-right: 0px;
}

.admin_link a,
.edit_entry a,
.edit_comment a {
	background: url(icons/edit.gif) center left no-repeat;
	padding-left: 14px;
	padding-right: 0px;
}

.entry_comment a {
	background: url(icons/comment.gif) center left no-repeat;
	padding-left: 14px;
	padding-right: 0px;
}

.comment_entry a,
.reply_comment a {
	background: url(icons/add_comment.gif) center left no-repeat;
	padding-left: 14px;
	padding-right: 0px;
}

.email_entry a {
	background: url(icons/email.gif) center left no-repeat;
	padding-left: 14px;
	padding-right: 0px;
}

.print_entry a {
	background: url(icons/print.gif) center left no-repeat;
	padding-left: 14px;
	padding-right: 0px;
}

.entry_tags a,
.entry_categories a {
	background: url(icons/folder.gif) center left no-repeat;
	padding-left: 14px;
	padding-right: 0px;
}

.entry_author a,
.signed_in_author a,
.loginout a {
	background: url(icons/user.gif) center left no-repeat;
	padding-left: 14px;
	padding-right: 0px;
}