/*
Skin name: Shades, Blue
Skin uri: http://skins.semiologic.com/shades/
Version: 0.9 RC
Author: Denis de Bernardy
Author uri: http://www.mesoconcepts.com
*/


/*
 * Canvas
 */

.sem_admin_menu #wrapper {
	margin-top: 15px;
}

.skin #wrapper,
.skin #navbar,
.skin #body,
.skin #footer {
	width: 100%;
}

#navbar_bg {
	margin: 0px auto;
}

.mmm #navbar_bg {
	width: 950px;
}

.mm #navbar_bg {
	width: 750px;
}

.m #navbar_bg {
	width: 620px;
}

#navbar .pad {
	padding: 0px;
}

#sidebars #sidebar .pad {
	padding-right: 10px;
}

#sidebars #sidebar2 .pad {
	padding-left: 10px;
}

#sidebars .sidebar {
	margin-bottom: 0px;
}

#sidebars .widget:first-child {
	margin-top: 0px;
}

#sidebars .widget:last-child {
	margin-bottom: 0px;
}

#sidebars .widget.ad_unit:first-child {
	margin-top: 10px;
}

#sidebars .widget.ad_unit:last-child {
	margin-bottom: 10px;
}

#navbar {
	background-position: top center;
	background-repeat: repeat;
	border-bottom: solid 1px;
}

#navbar_bg {
	background-image: url(images/navbar_bg.jpg);
	background-position: top left;
	background-repeat: repeat-y;
}

#navbar span {
	display: block;
	float: left;
	padding: 0px;
	margin: 0px;
}

#navbar a {
	background-image: url(images/navbar_bg.jpg);
	background-position: top right;
	background-repeat: no-repeat;
	display: block;
	float: left;
	padding-left: 19px;
	padding-right: 20px;
	margin: 0px;
}

#navbar a:hover,
#navbar span.nav_active {
	background-image: url(images/navbar_bg.jpg);
	background-position: top right;
	background-repeat: no-repeat;
}

#navbar span.nav_active {
	font-weight: normal;
	padding-left: 19px;
	padding-right: 20px;
	margin: 0px;
}

#navbar span.nav_active a {
	margin-left: -19px;
	margin-right: -20px;
	background: none;
}

#header_top_wrapper,
#footer_top_wrapper {
	padding-top: 1px;
}

#header_bottom_wrapper,
#footer_bottom_wrapper {
	padding-bottom: 1px;
}

#body {
	background-image: url(images/bg.jpg);
	background-position: bottom center;
	background-repeat: repeat-x;
	min-height: 300px;
}

#header_boxes_bg,
#footer_boxes_bg,
.header_widget_bg,
.footer_widget_bg {
	padding-top: 5px;
	padding-bottom: 5px;
	border: solid 1px;
	-moz-border-radius: 9px;
	-khtml-border-radius: 9px;
	-webkit-border-radius: 9px;
	border-radius: 9px;
}

#header_boxes,
.header_widget,
#footer_bottom_wrapper {
	margin-top: 20px;
}

#header_boxes,
.header_widget,
#footer_boxes,
.footer_widget {
	margin-bottom: 20px;
}

#footer {
	margin-bottom: 10px;
}

#footer_boxes_bg {
	background-image: url(images/footer_boxes.jpg);
	background-position: center;
	background-repeat: no-repeat;
}

.mmm #footer_boxes_bg {
	background-image: url(images/mmm-footer_boxes.jpg);
}

.widget_calendar table,
.widget_calendar thead,
.widget_calendar tfoot {
	border: solid 1px;
}

#navbar {
	border-top: solid 1px;
	border-bottom: solid 1px;
}

.entry_bottom {
	width: 40%;
	margin: 20px auto;
	border-bottom: solid 1px;
}

.single .entry_bottom,
.page .entry_bottom {
	border: none;
	margin: 0px;
}

h2.widget_title {
	padding-bottom: 3px;
	border-bottom: solid 1px;
}


/*
 * Skin Colors
 */

#sitename,
h1,
h2,
.widget_calendar caption {
	color: #ffe5b2; /* H40 B100 S30 */
}

a {
	color: #99bbff; /* H220 B100 S40 */
}

a:hover {
	color: #ffb2cc; /* H340 B100 S30 */
}


/*
 * Scheme Colors
 * H210 S90 L40
 */

#wrapper,
#header_wrapper,
#body,
#footer_boxes_bg,
.footer_widget_bg {
	background-color: #0c4175; /* B*2/3 */
	color: #eee;
}

#navbar,
.widget_calendar thead,
html /* credits bottom */,
#footer_wrapper {
	background-color: #07294a; /* B*2/3 L-10 */
	color: #eee;
}

#header_boxes_bg,
.header_widget_bg,
.widget_calendar tfoot {
	background-color: #10579e; /* B*2/3 L+10 */
	color: #eee;
}

#navbar {
	color: #fff;
}

#navbar,
#header_boxes_bg,
#footer_boxes_bg,
.header_widget_bg,
.footer_widget_bg,
.entry_bottom,
h2.widget_title,
.widget_calendar table,
.widget_calendar thead,
.widget_calendar tfoot {
	border-color: #709ecc; /* B*2/3 L+20 S/2 */
}
