/*
Skin name: Boxed, Purple
Skin uri: http://skins.semiologic.com/boxed/
Version: 0.9 RC2
Author: Denis de Bernardy
Author uri: http://www.mesoconcepts.com
*/


/*
 * Canvas
 */

.sem_admin_menu #wrapper {
	margin-top: 15px;
}

.skin #wrapper,
.skin #header,
.skin #navbar,
.skin #body,
.skin #footer,
.footer_widget .wrapper_item,
.header_widget .wrapper_item {
	width: auto;
}

html {
	background-image: url(images/pattern.jpg);
	background-position: top center;
	background-repeat: repeat;
}

.m2s #main,
.m1s #main {
	width: 532px;
}

.mm1s #main {
	width: 632px;
}

.m2s #sidebar,
.m2s #sidebar2 {
	width: 191px;
}

.sms #sidebar_wrapper {
	width: 741px;
}

.main .pad {
	padding: 0px;
}

.pad,
.pad .pad,
.post_list {
	padding: 0px 18px;
}

.ad_unit .main_widget_bg .pad,
.ad_unit .widget_bg .pad {
	padding: 0px;
}

#navbar_bg {
	margin: 0px auto;
}

.mmm #navbar_bg {
	width: 952px;
}

.mm #navbar_bg {
	width: 752px;
}

.m #navbar_bg {
	width: 622px;
}

#navbar .pad {
	padding: 0px 1px;
}

#search_form {
	padding: 0px 1px 0px 19px;
}

#navbar {
	background-image: url(images/navbar.jpg);
	background-position: top center;
	background-repeat: repeat;
}

#navbar_bg {
	background-image: url(images/navbar_item.jpg);
	background-position: top left;
	background-repeat: repeat-y;
}

#navbar span {
	display: block;
	float: left;
	padding: 0px;
	margin: 0px;
}

#navbar a {
	background-image: url(images/navbar_item.jpg);
	background-position: top right;
	background-repeat: no-repeat;
	display: block;
	float: left;
	padding-left: 19px;
	padding-right: 21px;
	margin: 0px;
}

#navbar a:hover,
#navbar span.nav_active {
	background-image: url(images/navbar_active.jpg);
	background-position: top right;
	background-repeat: no-repeat;
}

#navbar span.nav_active {
	font-weight: normal;
	padding-left: 19px;
	padding-right: 21px;
	margin: 0px;
}

#navbar span.nav_active a {
	margin-left: -19px;
	margin-right: -21px;
	background: none;
}

#navbar,
#footer {
	border-top: solid 1px;
	border-bottom: solid 1px;
}

#credits {
	margin-top: 5px;
	margin-bottom: 5px;
}

.entry_bg,
.post_list,
.main_widget_bg,
.widget_bg,
.header_widget_bg,
.footer_widget_bg,
#footer_bg {
	padding-top: 5px;
	padding-bottom: 5px;
}

.entry_bg,
.post_list,
.main_widget_bg,
.widget_bg,
.header_widget_bg,
.footer_widget_bg {
	border: solid 1px;
}

.entry,
.main_widget,
.widget {
	margin-top: 0px;
	margin-bottom: 18px;
}

#body,
#header_top_wrapper,
#header_middle_wrapper {
	margin-top: 18px;
	margin-bottom: 0px;
}

#header_bottom_wrapper {
	margin-top: 18px;
	margin-bottom: 18px;
}

.header_widget,
#footer_top_wrapper .footer_widget {
	margin-bottom: 18px;
}

#footer_bottom_wrapper .footer_widget {
	margin-top: 18px;
}

.entry,
.entry_bg,
.post_list,
.main_widget,
.main_widget_bg,
.widget,
.widget_bg,
.header_widget,
.header_widget_bg,
.footer_widget,
.footer_widget_bg {
	-moz-border-radius: 6px;
	-khtml-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
}

#navbar,
#footer,
.entry,
.main_widget,
.widget,
.header_widget,
.footer_widget {
	-moz-box-shadow: rgba(0,0,0,.2) 1px 1px 3px;
	-khtml-box-shadow: rgba(0,0,0,.2) 1px 1px 3px;
	-webkit-box-shadow: rgba(0,0,0,.2) 1px 1px 3px;
	box-shadow: rgba(0,0,0,.2) 1px 1px 3px;
}

#wrapper {
	overflow: hidden;
	padding-bottom: 5px;
}

body {
	padding-bottom: 5px;
}

.entry,
.main_widget,
.widget {
	background-image: url(images/body.jpg);
	background-position: top center;
	background-repeat: repeat-x;
}

.header_widget,
.footer_widget {
	background-image: url(images/wrapper_widget.jpg);
	background-position: top center;
	background-repeat: repeat-x;
}

#footer {
	background-image: url(images/footer_top.jpg);
	background-position: top center;
	background-repeat: repeat-x;
}

#footer_bg {
	background-image: url(images/footer_bottom.jpg);
	background-position: bottom center;
	background-repeat: repeat-x;
}

.main .ad_unit,
.ad_unit .main_widget_bg,
.ad_unit .widget_bg,
.main .blog_header,
.main .blog_footer,
.blog_header .main_widget_bg,
.blog_footer .main_widget_bg {
	border: none;
	background: none;
	padding-top: 0px;
	padding-bottom: 0px;
	-moz-box-shadow: none;
	-khtml-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
}

#header_boxes_bg,
#footer_boxes_bg {
	background-image: url(images/inline_boxes.gif);
	background-position: center;
	background-repeat: no-repeat;
}

.mmm #header_boxes_bg,
.mmm #footer_boxes_bg {
	background-image: url(images/mmm-inline_boxes.gif);
}

.widget_title h2 {
	margin-top: -6px;
	margin-left: -19px;
	margin-right: -19px;
	padding: 5px 18px 3px;
	border: solid 1px;
	-moz-border-radius-topleft: 6px;
	-moz-border-radius-topright: 6px;
	-khtml-border-top-left-radius: 6px;
	-khtml-border-top-right-radius: 6px;
	-webkit-border-top-left-radius: 6px;
	-webkit-border-top-right-radius: 6px;
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
	background-image: url(images/widget_header.jpg);
	background-position: top center;
	background-repeat: repeat-x;
}

.widget_title h2 {
	font-size: 17px;
}

.widget_calendar table,
.widget_calendar thead,
.widget_calendar tfoot {
	border: solid 1px;
}


/*
 * Skin Colors
 */

html {
	background-color: #fff;
	color: #000;
}

.main h1,
.main h2,
.main h3,
.sidebar h1,
.sidebar h2,
.widget_calendar caption {
	color: #000;
}

.post_list h3 {
	color: inherit;
}

.entry_bg,
.post_list,
.main_widget_bg,
.widget_bg,
.header_widget_bg,
.footer_widget_bg,
.widget_calendar table,
.widget_calendar tfoot {
	border-color: #999;
}

.entry,
.main_widget,
.widget,
.widget_calendar table {
	background-color: #fff;
	color: #222;
}


/*
 * Scheme Colors
 * H300 S95 L35
 */

#navbar,
.widget_calendar thead,
.widget_title h2 {
	background-color: #940794; /* - */
	color: #fff;
}

#footer,
.widget_calendar tfoot {
	background-color: #ffd4ff; /* L90 */
	color: #000;
}

.header_widget,
.footer_widget {
	background-color: #edfaed; /* C-L97 */
	color: #000;
}

#navbar a {
	color: #fff;
}

#footer a {
	color: #000;
}

#footer a:hover {
	color: #590959; /* L90* */
}

#navbar,
#go {
	border-color: #4a044a; /* B/2 */
}

#footer,
.widget_calendar thead,
.widget_title h2 {
	border-color: #4a4a4a; /* B/2 S0 */
}
