/*
Skin name: Copywriter (Blue)
Skin uri: http://www.semiologic.com/software/sem-reloaded/
Version: 0.5 RC
Author: Denis de Bernardy
Author uri: http://www.mesoconcepts.com
*/


/*
 * Canvas
 */

html {
	background: #4f585f;
	color: #eee;
}

.sem_admin_menu #wrapper {
	margin-top: 15px;
}

.skin #wrapper,
.skin .wrapper {
	width: 100%;
}

#wrapper {
	background: #fff;
	color: #000;
}



/*
 * Header
 */

#header {
	background: url(images/header.jpg) bottom center repeat-x #0065b7;
	color: #fff;
}

#tagline {
	color: #fffea1;
}


/*
 * Navbar
 */

#navbar {
	background: #005bad;
	color: #fff;
	margin-bottom: 5px;
}

#navbar_bottom {
	height: 1px;
	background: #fff;
	border-top: solid 10px #2296e8;
	border-bottom: solid 4px #4f585f;
}

#navbar a {
	color: #fff;
}

#navbar a:hover {
	color: #fdb;
}


/*
 * Footer
 */

#footer {
	background: #4f585f;
	color: #fff;
	border-top: solid 1px #666;
	padding-top: 5px;
	padding-bottom: 5px;
	margin-top: 5px;
}

#footer a {
	color: #fff;
}

#footer a:hover {
	color: #fc9;
}


/*
 * Header & Footer Boxes
 */

#header_boxes_top,
#header_boxes_bottom,
#footer_boxes_top,
#footer_boxes_bottom {
	height: 10px;
}

.mmm #header_boxes,
.mmm #footer_boxes {
	background: url(images/mmm-inline_boxes.jpg) center repeat-y;
}

.mmm #header_boxes_top,
.mmm #footer_boxes_top {
	background: url(images/mmm-inline_boxes_top.jpg) bottom center no-repeat;
}

.mmm #header_boxes_bottom,
.mmm #footer_boxes_bottom {
	background: url(images/mmm-inline_boxes_bottom.jpg) top center no-repeat;
}

.mm #header_boxes,
.mm #footer_boxes {
	background: url(images/mm-inline_boxes.jpg) center repeat-y;
}

.mm #header_boxes_top,
.mm #footer_boxes_top {
	background: url(images/mm-inline_boxes_top.jpg) bottom center no-repeat;
}

.mm #header_boxes_bottom,
.mm #footer_boxes_bottom {
	background: url(images/mm-inline_boxes_bottom.jpg) top center no-repeat;
}

.m #header_boxes,
.m #footer_boxes {
	background: url(images/m-inline_boxes.jpg) center repeat-y;
}

.m #header_boxes_top,
.m #footer_boxes_top {
	background: url(images/m-inline_boxes_top.jpg) bottom center no-repeat;
}

.m #header_boxes_bottom,
.m #footer_boxes_bottom {
	background: url(images/m-inline_boxes_bottom.jpg) top center no-repeat;
}


/*
 * Header and Footer Widgets
 */

.header_widget_top,
.header_widget_bottom,
.footer_widget_top,
.footer_widget_bottom {
	height: 10px;
}

.mmm .header_widget,
.mmm .footer_widget {
	background: url(images/mmm-wrapper_widget.jpg) center repeat-y;
}

.mmm .header_widget_top,
.mmm .footer_widget_top {
	background: url(images/mmm-wrapper_widget_top.jpg) bottom center no-repeat;
}

.mmm .header_widget_bottom,
.mmm .footer_widget_bottom {
	background: url(images/mmm-wrapper_widget_bottom.jpg) top center no-repeat;
}

.mm .header_widget,
.mm .footer_widget {
	background: url(images/mm-wrapper_widget.jpg) center repeat-y;
}

.mm .header_widget_top,
.mm .footer_widget_top {
	background: url(images/mm-wrapper_widget_top.jpg) bottom center no-repeat;
}

.mm .header_widget_bottom,
.mm .footer_widget_bottom {
	background: url(images/mm-wrapper_widget_bottom.jpg) top center no-repeat;
}

.m .header_widget,
.m .footer_widget {
	background: url(images/m-wrapper_widget.jpg) bottom center repeat-y;
}

.m .header_widget_top,
.m .footer_widget_top {
	background: url(images/m-wrapper_widget_top.jpg) bottom center no-repeat;
}

.m .header_widget_bottom,
.m .footer_widget_bottom {
	background: url(images/m-wrapper_widget_bottom.jpg) top center no-repeat;
}


/*
 * Body
 */

#body {
	background: #fff;
}


/*
 * Credits
 */

#credits {
	margin-top: 10px;
	margin-bottom: 10px;
}

#credits a {
	color: #fff;
}

#credits a:hover {
	color: #fc9;
}


/*
 * Content
 */

h1 {
	font-family: Georgia, "Times New Roman", "Bitstream Charter", Times, serif;
	font-weight: normal;
	font-size: 22px;
}

h2,
.widget_calendar caption {
	font-family: Georgia, "Times New Roman", "Bitstream Charter", Times, serif;
	font-weight: normal;
	font-size: 18px;
}

h1 {
	color: #005bad;
}

.entry_date,
.comment_date,
.pings_date {
	color: #444;
}

blockquote {
	background: url(../../icons/blockquote.gif) top left no-repeat;
	padding: 5px 10px 5px 50px;
	margin-left: 0px;
	min-height: 50px;
}


/*
 * Sidebars
 */

.widget_title h2 {
	padding-bottom: 1px;
	border-bottom: solid 1px #999;
}

.sms .sidebar_top,
.sms .sidebar_bottom,
.mm1s .sidebar_top,
.mm1s .sidebar_bottom,
.m1s .sidebar_top,
.m1s .sidebar_bottom {
	height: 10px;
}

.sms .sidebar,
.m1s .sidebar {
	background: url(images/sidebar.jpg) center repeat-y;
}

.sms .sidebar_top,
.m1s .sidebar_top {
	background: url(images/sidebar_top.jpg) bottom center no-repeat;
}

.sms .sidebar_bottom,
.m1s .sidebar_bottom {
	background: url(images/sidebar_bottom.jpg) top center no-repeat;
}

.mm1s .sidebar {
	background: url(images/mm1s-sidebar.jpg) center repeat-y;
}

.mm1s .sidebar_top {
	background: url(images/mm1s-sidebar_top.jpg) bottom center no-repeat;
}

.mm1s .sidebar_bottom {
	background: url(images/mm1s-sidebar_bottom.jpg) top center no-repeat;
}

.mts #sidebars_top,
.mts #sidebars_bottom,
.tsm #sidebars_top,
.tsm #sidebars_bottom {
	height: 10px;
}

.mts #sidebars,
.tsm #sidebars {
	background: url(images/sidebars.jpg) center repeat-y;
}

.mts #sidebars_top,
.tsm #sidebars_top {
	background: url(images/sidebars_top.jpg) bottom center no-repeat;
}

.mts #sidebars_bottom,
.tsm #sidebars_bottom {
	background: url(images/sidebars_bottom.jpg) top center no-repeat;
}


/*
 * Calendar
 */

.widget_calendar table {
	border: solid 1px #666;
	background: #fff;
}

.widget_calendar thead {
	border-bottom: solid 1px #666;
	background: #005bad;
	color: #ffe;
}

.widget_calendar tfoot {
	border-top: solid 1px #666;
	background: #cadbf5;
}

.widget_calendar tfoot a {
	color: #000;
}

.widget_calendar tfoot a:hover {
	color: #c22;
}