/*
Skin name: Classy (Blue)
Version: 0.3 RC
Author: Denis de Bernardy
Author uri: http://www.mesoconcepts.com
*/


/*
 * Canvas
 */

html {
	background: #a3bed9;
}

.skin #navbar {
	width: 100%;
}

#wrapper {
	margin-bottom: 10px;
}

#wrapper_bottom {
	height: 15px;
}

.mmm #wrapper {
	background: url(images/mmm-wrapper.jpg) center repeat-y;
}

.mmm #wrapper_bottom {
	background: url(images/mmm-wrapper_bottom.jpg) top center no-repeat;
}

.mm #wrapper {
	background: url(images/mm-wrapper.jpg) center repeat-y;
}

.mm #wrapper_bottom {
	background: url(images/mm-wrapper_bottom.jpg) top center no-repeat;
}

.m #wrapper {
	background: url(images/m-wrapper.jpg) center repeat-y;
}

.m #wrapper_bottom {
	background: url(images/m-wrapper_bottom.jpg) top center no-repeat;
}


/*
 * Header
 */

#header {
	color: #fff;
}


/*
 * Navbar
 */

#navbar {
	line-height: 40px;
	color: #fff;
}

* html #s {
	margin: 8px 0px 6px;
	vertical-align: center;
}

* html #go {
	margin: 8px 0px 4px;
	vertical-align: center;
}

#navbar a {
	color: #fff;
}

#navbar a:hover {
	color: #fc9;
}

.mmm #navbar {
	background: url(images/mmm-navbar.jpg) center repeat;
}

.mm #navbar {
	background: url(images/mm-navbar.jpg) center repeat;
}

.m #navbar {
	background: url(images/m-navbar.jpg) center repeat;
}


/*
 * Footer
 */

#footer {
	margin-top: 5px;
}

#footer {
	color: #fff;
}

#footer a {
	color: #fff;
}

#footer a:hover {
	color: #fc9;
}

/*
 * Header & Footer Boxes
 */

.mmm #header_boxes .wrapper_item,
.mmm #footer_boxes .wrapper_item {
	width: 940px;
}

.mm #header_boxes .wrapper_item,
.mm #footer_boxes .wrapper_item {
	width: 740px;
}

.m #header_boxes .wrapper_item,
.m #footer_boxes .wrapper_item {
	width: 610px;
}

#header_boxes_top,
#header_boxes_bottom,
#footer_boxes_top,
#footer_boxes_bottom {
	height: 15px;
}

.mmm #header_boxes,
.mmm #footer_boxes {
	background: url(images/mmm-inline_boxes.jpg) center repeat-y;
}

.mmm #header_boxes_top,
.mmm #footer_boxes_top {
	background: url(images/mmm-inline_boxes_top.jpg) bottom center no-repeat;
}

.mmm #header_boxes_bottom,
.mmm #footer_boxes_bottom {
	background: url(images/mmm-inline_boxes_bottom.jpg) top center no-repeat;
}

.mm #header_boxes,
.mm #footer_boxes {
	background: url(images/mm-inline_boxes.jpg) center repeat-y;
}

.mm #header_boxes_top,
.mm #footer_boxes_top {
	background: url(images/mm-inline_boxes_top.jpg) bottom center no-repeat;
}

.mm #header_boxes_bottom,
.mm #footer_boxes_bottom {
	background: url(images/mm-inline_boxes_bottom.jpg) top center no-repeat;
}

.m #header_boxes,
.m #footer_boxes {
	background: url(images/m-inline_boxes.jpg) center repeat-y;
}

.m #header_boxes_top,
.m #footer_boxes_top {
	background: url(images/m-inline_boxes_top.jpg) bottom center no-repeat;
}

.m #header_boxes_bottom,
.m #footer_boxes_bottom {
	background: url(images/m-inline_boxes_bottom.jpg) top center no-repeat;
}


/*
 * Header & Footer Widgets
 */

.header_widget .pad,
.footer_widget .pad {
	padding-left: 20px;
	padding-right: 20px;
}

.header_widget_top,
.header_widget_bottom,
.footer_widget_top,
.footer_widget_bottom {
	height: 15px;
}

.mmm .header_widget,
.mmm .footer_widget {
	background: url(images/mmm-wrapper_widget.jpg) center repeat-y;
}

.mmm .header_widget_top,
.mmm .footer_widget_top {
	background: url(images/mmm-wrapper_widget_top.jpg) bottom center no-repeat;
}

.mmm .header_widget_bottom,
.mmm .footer_widget_bottom {
	background: url(images/mmm-wrapper_widget_bottom.jpg) top center no-repeat;
}

.mm .header_widget,
.mm .footer_widget {
	background: url(images/mm-wrapper_widget.jpg) center repeat-y;
}

.mm .header_widget_top,
.mm .footer_widget_top {
	background: url(images/mm-wrapper_widget_top.jpg) bottom center no-repeat;
}

.mm .header_widget_bottom,
.mm .footer_widget_bottom {
	background: url(images/mm-wrapper_widget_bottom.jpg) top center no-repeat;
}

.m .header_widget,
.m .footer_widget {
	background: url(images/m-wrapper_widget.jpg) center repeat-y;
}

.m .header_widget_top,
.m .footer_widget_top {
	background: url(images/m-wrapper_widget_top.jpg) bottom center no-repeat;
}

.m .header_widget_bottom,
.m .footer_widget_bottom {
	background: url(images/m-wrapper_widget_bottom.jpg) top center no-repeat;
}


/*
 * Body
 */

#main {
	background: #fff;
	color: #000;
}

#main a {
	color: #22e;
}

#main .entry_header a {
	color: inherit;
}

#main a:hover {
	color: #c22;
}

#main_top,
#main_bottom {
	height: 15px;
}

.mmm #main {
	background: url(images/mmm-main.jpg) center repeat-y #fff;
}

.mmm #main_top {
	background: url(images/mmm-main_top.jpg) bottom center no-repeat;
}

.mmm #main_bottom {
	background: url(images/mmm-main_bottom.jpg) top center no-repeat;
}

.mm #main,
.mm1s #main {
	background: url(images/mm-main.jpg) center repeat-y #fff;
}

.mm #main_top,
.mm1s #main_top {
	background: url(images/mm-main_top.jpg) bottom center no-repeat;
}

.mm #main_bottom,
.mm1s #main_bottom {
	background: url(images/mm-main_bottom.jpg) top center no-repeat;
}

.m2s #main,
.m1s #main {
	background: url(images/main.jpg) center repeat-y #fff;
}

.m2s #main_top,
.m1s #main_top {
	background: url(images/main_top.jpg) bottom center no-repeat;
}

.m2s #main_bottom,
.m1s #main_bottom {
	background: url(images/main_bottom.jpg) top center no-repeat;
}

.m #main {
	background: url(images/m-main.jpg) center repeat-y #fff;
}

.m #main_top {
	background: url(images/m-main_top.jpg) bottom center no-repeat;
}

.m #main_bottom {
	background: url(images/m-main_bottom.jpg) top center no-repeat;
}


/*
 * Credits
 */

#credits {
	margin-top: 5px;
	margin-bottom: 10px;
}


/*
 * Content
 */

h1 {
	color: #0f294d;
}

.entry_date,
.comment_date {
}

.entry_actions p,
.comment_actions p {
	padding-top: 1px;
	border-top: solid 1px #7a9ccc;
}

blockquote {
	background: url(icons/blockquote.gif) top left no-repeat;
	padding: 10px 10px 10px 50px;
	margin-left: 0px;
}

.comment_header {
	width: 160px;
	float: left;
}

.comment {
	margin-left: 170px;
}


/*
 * Sidebars
 */

.sidebar {
	color: #fff;
}

.sidebar a {
	color: #fc9;
}

.sidebar a:hover {
	color: #fc0;
}


/*
 * Calendar
 */

#wp-calendar {
	border: solid 1px #666;
}

#wp-calendar thead {
	border-bottom: solid 1px #666;
	background: #0f294d;
	color: #fff;
}

#wp-calendar tfoot {
	border-top: solid 1px #666;
	background: #8fa3cc;
}

#wp-calendar tfoot a {
	color: #22e;
}

#wp-calendar tfoot a:hover {
	color: #c22;
}


/*
 * Icons
 */

.header_widget ul,
.footer_widget ul,
.inline_box ul,
.main_widget ul,
.inline_widget ul,
.post_list ul,
.widget ul {
	list-style-image: url(icons/file.gif);
}

.widget_categories ul,
.widget_archive ul {
	list-style-image: url(icons/folder.gif);
}

li.nav_home,
li.nav_blog,
li.nav_branch {
	list-style-image: url(icons/folder.gif);
}

li.nav_leaf {
	list-style-image: url(icons/file.gif);
}

.link_entry a,
.link_comment a {
	background: url(icons/file.gif) center left no-repeat;
	padding-left: 14px;
	padding-right: 0px;
}

.admin_link a,
.edit_entry a,
.edit_comment a {
	background: url(icons/edit.gif) center left no-repeat;
	padding-left: 14px;
	padding-right: 0px;
}

.entry_comment a {
	background: url(icons/comment.gif) center left no-repeat;
	padding-left: 14px;
	padding-right: 0px;
}

.comment_entry a,
.reply_comment a {
	background: url(icons/add_comment.gif) center left no-repeat;
	padding-left: 14px;
	padding-right: 0px;
}

.email_entry a {
	background: url(icons/email.gif) center left no-repeat;
	padding-left: 14px;
	padding-right: 0px;
}

.print_entry a {
	background: url(icons/print.gif) center left no-repeat;
	padding-left: 14px;
	padding-right: 0px;
}

.entry_tags a,
.entry_categories a {
	background: url(icons/folder.gif) center left no-repeat;
	padding-left: 14px;
	padding-right: 0px;
}

.entry_author a,
.signed_in_author a,
.loginout a {
	background: url(icons/user.gif) center left no-repeat;
	padding-left: 14px;
	padding-right: 0px;
}