/*
Skin name: Classy, Purple
Skin uri: http://skins.semiologic.com/classy/
Version: 0.9 RC
Author: Denis de Bernardy
Author uri: http://www.mesoconcepts.com
*/


/*
 * Canvas
 */

html {
	background-image: url(images/bg.jpg);
	background-repeat: repeat-x;
	background-position: top center;
}

#wrapper {
	margin-top: 10px;
	margin-bottom: 5px;
	-moz-box-shadow: rgba(0,0,0,.4) 0 0 5px;
	-khtml-box-shadow: rgba(0,0,0,.4) 0 0 5px;
	-webkit-box-shadow: rgba(0,0,0,.4) 0 0 5px;
	box-shadow: rgba(0,0,0,.4) 0 0 5px;
	background-image: url(images/pattern.png);
	background-repeat: repeat;
	background-position: top center;
}

#credits {
	margin-top: 5px;
	margin-bottom: 5px;
}

.sem_admin_menu #wrapper {
	margin-top: 20px;
}

.mmm #wrapper {
	width: 970px;
}

.mm #wrapper {
	width: 770px;
}

.m #wrapper {
	width: 640px;
}

.m2s #main,
.m1s #main {
	width: 540px;
}

.mm1s #main {
	width: 640px;
}

.m2s #sidebar,
.m2s #sidebar2 {
	width: 199px;
}

.sms #sidebar,
.sms #sidebar2 {
	width: 195px;
}

.sms #sidebar_wrapper {
	width: 745px;
}

#header_wrapper .wrapper_item,
#footer_wrapper .wrapper_item {
	width: 100%;
}

.pad {
	padding: 0px 15px;
}

.main .pad {
	padding: 0px 0px;
}

.pad .pad,
.pad .post_list {
	padding: 0px 15px;
}

#navbar .pad {
	padding: 0px 0px;
}

#search_form {
	padding: 0px 15px;
}

#sidebars #sidebar .pad {
	padding-right: 8px;
}

#sidebars #sidebar2 .pad {
	padding-left: 8px;
}

#navbar_bg {
	background-image: url(images/navbar.jpg);
	background-position: top center;
	background-repeat: repeat;
}

#navbar span {
	display: block;
	float: left;
	padding: 0px;
	margin: 0px;
}

#navbar a {
	background-image: url(images/navbar_bg.jpg);
	background-position: top right;
	background-repeat: no-repeat;
	display: block;
	float: left;
	padding-left: 17px;
	padding-right: 19px;
	margin: 0px;
}

#navbar a:hover,
#navbar span.nav_active {
	background-image: url(images/navbar_active.jpg);
	background-position: top right;
	background-repeat: no-repeat;
}

#navbar span.nav_active {
	font-weight: normal;
	padding-left: 17px;
	padding-right: 19px;
	margin: 0px;
}

#navbar span.nav_active a {
	margin-left: -17px;
	margin-right: -19px;
	background: none;
}

#wrapper,
#navbar_bg,
#footer_bg,
#header_boxes_bg,
#footer_boxes_bg,
.header_widget_bg,
.footer_widget_bg,
.entry_bg,
.post_list,
.main_widget_bg,
#sidebars_bg,
.sidebar_bg {
	border: solid 1px;
}

#footer_bg {
	padding-top: 5px;
	padding-bottom: 5px;
}

#header,
#navbar,
#body,
#footer,
#header_boxes,
#footer_boxes,
.header_widget,
.footer_widget {
	margin-top: 10px;
	margin-bottom: 10px;
}

#header_boxes_bg,
.header_widget_bg,
#footer_boxes_bg,
.footer_widget_bg {
	background-image: url(images/header_widget_bg.jpg);
	background-position: top center;
	background-repeat: repeat-x;
}

#footer_boxes {
	background-image: url(images/footer_boxes.jpg);
	background-position: center;
	background-repeat: no-repeat;
}

.mmm #footer_boxes {
	background-image: url(images/mmm-footer_boxes.jpg);
}

.main_widget_bg,
.entry_bg,
.post_list,
#sidebars_bg,
.sidebar_bg {
	background-image: url(images/body_bg.jpg);
	background-position: top center;
	background-repeat: repeat-x;
	padding-top: 5px;
	padding-bottom: 5px;
}

.ad_unit .main_widget_bg,
.ad_unit .widget_bg,
.blog_footer .main_widget_bg {
	border: none;
	background: none;
	padding-top: 0px;
	padding-bottom: 0px;
}

.ad_unit .main_widget_bg .pad {
	padding: 0px;
}

.entry,
.comment,
.main_widget {
	margin-top: 0px;
	margin-bottom: 10px;
}

.entry:first-child,
.main_widget:first-child {
	margin-top: 0px;
	margin-bottom: 0px;
}

.entry ~ .entry,
.main_widget ~ .entry,
.entry ~ .main_widget,
.main_widget ~ .main_widget,
.main_widget ~ .post_list,
.post_list ~ .main_widget {
	margin-top: 10px;
	margin-bottom: 0px;
}

#sidebars .sidebar {
	margin-bottom: 0px;
}

#sidebars .widget:first-child {
	margin-top: 0px;
}

#sidebars .widget:last-child {
	margin-bottom: 0px;
}

#sidebars .widget.ad_unit:first-child {
	margin-top: 10px;
	margin-bottom: 20px;
}

#sidebars .widget.ad_unit:last-child {
	margin-bottom: 10px;
}

h2.widget_title {
	padding-bottom: 3px;
	border-bottom: solid 1px;
}

.widget_calendar table,
.widget_calendar thead,
.widget_calendar tfoot {
	border: solid 1px;
}


/*
 * Skin Colors
 */

.entry_bg,
.post_list,
#sidebars_bg,
.sidebar_bg,
.widget_calendar table {
	background-color: #fff;
	color: #111;
}

.main h1,
.main h2,
.main h3,
.sidebar h1,
.sidebar h2,
.widget_calendar caption {
	color: #000;
}

#header_boxes_bg,
#footer_boxes_bg,
.header_widget_bg,
.footer_widget_bg,
#footer_bg,
.main_widget_bg,
.entry_bg,
.post_list,
#sidebars_bg,
.sidebar_bg,
.widget_calendar table,
.widget_calendar tfoot,
h2.widget_title {
	border-color: #999;
}


/*
 * Scheme Colors
 * H300 S90 L30
 */

#navbar,
.widget_calendar thead {
	background-color: #800d80; /* - */
	color: #fff;
}

html {
	background-color: #dff7df; /* C-S10 L95 */
	color: #111;
}

#wrapper {
	background-color: #fffaff; /* A*L-S2 L99 */
	color: #111;
}

#header_boxes,
#footer_boxes,
.header_widget,
.footer_widget {
	background-color: #ffebfd; /* AL-S10 L95 */
	color: #000;
}

#footer {
	background-color: #ffd4ff; /* S25 L90 */
	color: #000;
}

.widget_calendar tfoot {
	background-color: #fff5ff; /* L97 */
	color: #000;
}

#sitename {
	color: #590959; /* L20 */
}

#navbar a {
	color: #fff;
}

#footer a {
	color: #000;
}

#footer a:hover {
	color: #450a45; /* S/L 15/85 */
}

#navbar_bg,
#go {
	border-color: #260426; /* B/2 */
}

#wrapper,
.widget_calendar thead {
	border-color: #363636; /* B/2 S0 */
}
