/*
Skin name: Boxed, Black
Skin uri: http://skins.semiologic.com/mc/boxed/
Version: 0.9
Author: Denis de Bernardy
Author uri: http://www.mesoconcepts.com
*/

/*
 * Canvas
 */

.sem_admin_menu #wrapper {
	margin-top: 15px;
}

.skin #wrapper,
.skin #header,
.skin #navbar,
.skin #body,
.skin #credits,
#footer_wrapper .wrapper {
	width: 100%;
}

.mmm #navbar_bg,
.mmm #credits_bg {
	width: 950px;
}

.mm #navbar_bg,
.mm #credits_bg {
	width: 750px;
}

.m #navbar_bg,
.m #credits_bg {
	width: 620px;
}

#navbar {
	line-height: 32px;
	background-image: url(images/navbar.jpg);
	margin-bottom: 5px;
}

#body_top {
	height: 0px;
}

#body_bottom {
	margin-top: 10px;
	height: 8px;
}

#footer {
	padding-top: 10px;
	padding-bottom: 10px;
}

#navbar .pad {
	padding: 0px 5px;
}

#navbar_bg {
	background-image: url(images/navbar_bg.jpg);
}

#navbar span {
	display: block;
	float: left;
	padding: 0px;
	margin: 0px;
}

#navbar a {
	background-image: url(images/navbar_bg.jpg);
	display: block;
	float: left;
	padding-left: 15px;
	padding-right: 17px;
	margin: 0px;
}

#navbar a:hover,
#navbar span.nav_active {
	background-image: url(images/navbar_active.jpg);
}

#navbar span.nav_active {
	font-weight: normal;
	padding-left: 15px;
	padding-right: 17px;
	margin: 0px;
}

#navbar span.nav_active a {
	margin-left: -15px;
	margin-right: -17px;
	background: none;
}

#go {
	padding: 1px 6px;
	-moz-border-radius: 8px;
	-khtml-border-radius: 8px;
	-webkit-border-radius: 8px;
	border-radius: 8px;
}

#header_boxes_top,
.header_widget_top,
#header_boxes_bottom,
.header_widget_bottom {
	height: 10px;
}

.mmm #header_boxes {
	background-image: url(images/mmm-header_boxes.jpg);
}

.mmm #header_boxes_bg {
	background-image: url(images/mmm-header_boxes_bg.jpg);
}

.mmm #header_boxes_top {
	background-image: url(images/mmm-header_boxes_top.jpg);
}

.mmm #header_boxes_bottom {
	background-image: url(images/mmm-header_boxes_bottom.jpg);
}

.mm #header_boxes {
	background-image: url(images/mm-header_boxes.jpg);
}

.mm #header_boxes_bg {
	background-image: url(images/mm-header_boxes_bg.jpg);
}

.mm #header_boxes_top {
	background-image: url(images/mm-header_boxes_top.jpg);
}

.mm #header_boxes_bottom {
	background-image: url(images/mm-header_boxes_bottom.jpg);
}

.m #header_boxes {
	background-image: url(images/m-header_boxes.jpg);
}

.m #header_boxes_bg {
	background-image: url(images/m-header_boxes_bg.jpg);
}

.m #header_boxes_top {
	background-image: url(images/m-header_boxes_top.jpg);
}

.m #header_boxes_bottom {
	background-image: url(images/m-header_boxes_bottom.jpg);
}

.mmm .header_widget {
	background-image: url(images/mmm-header_widget.jpg);
}

.mmm .header_widget_bg {
	background-image: url(images/mmm-header_widget_bg.jpg);
}

.mmm .header_widget_top {
	background-image: url(images/mmm-header_widget_top.jpg);
}

.mmm .header_widget_bottom {
	background-image: url(images/mmm-header_widget_bottom.jpg);
}

.mm .header_widget {
	background-image: url(images/mm-header_widget.jpg);
}

.mm .header_widget_bg {
	background-image: url(images/mm-header_widget_bg.jpg);
}

.mm .header_widget_top {
	background-image: url(images/mm-header_widget_top.jpg);
}

.mm .header_widget_bottom {
	background-image: url(images/mm-header_widget_bottom.jpg);
}

.m .header_widget {
	background-image: url(images/m-header_widget.jpg);
}

.m .header_widget_bg {
	background-image: url(images/m-header_widget_bg.jpg);
}

.m .header_widget_top {
	background-image: url(images/m-header_widget_top.jpg);
}

.m .header_widget_bottom {
	background-image: url(images/m-header_widget_bottom.jpg);
}

.mmm #footer_boxes {
	background-image: url(images/mmm-footer_boxes.jpg);
}

.mm #footer_boxes {
	background-image: url(images/mm-footer_boxes.jpg);
}

.m #footer_boxes {
	background-image: url(images/m-footer_boxes.jpg);
}

#header_boxes_bg {
	padding-top: 1px;
}

#header_boxes h2,
.header_widget h2 {
	margin: 0px;
	padding-top: 8px;
}

#footer_boxes,
.footer_widget {
	margin-top: .8em;
	margin-bottom: .8em;
}

#footer_boxes h2 {
	margin-top: 0px;
}

.entry_top,
.main_widget_top,
.entry_bottom,
.main_widget_bottom {
	height: 10px;
}

.mmm .entry,
.mmm .main_widget {
	background-image: url(images/mmm-main.jpg);
}

.mmm .entry_bg,
.mmm .main_widget_bg,
.mmm .post_list {
	background-image: url(images/mmm-main_bg.jpg);
}

.mmm .entry_top,
.mmm .main_widget_top {
	background-image: url(images/mmm-main_top.jpg);
}

.mmm .entry_bottom,
.mmm .main_widget_bottom {
	background-image: url(images/mmm-main_bottom.jpg);
}

.mm .entry,
.mm .main_widget {
	background-image: url(images/mm-main.jpg);
}

.mm .entry_bg,
.mm .main_widget_bg,
.mm .post_list {
	background-image: url(images/mm-main_bg.jpg);
}

.mm .entry_top,
.mm .main_widget_top {
	background-image: url(images/mm-main_top.jpg);
}

.mm .entry_bottom,
.mm .main_widget_bottom {
	background-image: url(images/mm-main_bottom.jpg);
}

.m .entry,
.m .main_widget {
	background-image: url(images/m-main.jpg);
}

.m .entry_bg,
.m .main_widget_bg,
.m .post_list {
	background-image: url(images/m-main_bg.jpg);
}

.m .entry_top,
.m .main_widget_top {
	background-image: url(images/m-main_top.jpg);
}

.m .entry_bottom,
.m .main_widget_bottom {
	background-image: url(images/m-main_bottom.jpg);
}

.mm1s .entry,
.mm1s .main_widget {
	background-image: url(images/wide_main.jpg);
}

.mm1s .entry_bg,
.mm1s .main_widget_bg,
.mm1s .post_list {
	background-image: url(images/wide_main_bg.jpg);
}

.mm1s .entry_top,
.mm1s .main_widget_top {
	background-image: url(images/wide_main_top.jpg);
}

.mm1s .entry_bottom,
.mm1s .main_widget_bottom {
	background-image: url(images/wide_main_bottom.jpg);
}

.m2s .entry,
.m1s .entry,
.m2s .main_widget,
.m1s .main_widget {
	background-image: url(images/main.jpg);
}

.m2s .entry_bg,
.m1s .entry_bg,
.m2s .main_widget_bg,
.m1s .main_widget_bg,
.m2s .post_list,
.m1s .post_list {
	background-image: url(images/main_bg.jpg);
}

.m2s .entry_top,
.m1s .entry_top,
.m2s .main_widget_top,
.m1s .main_widget_top {
	background-image: url(images/main_top.jpg);
}

.m2s .entry_bottom,
.m1s .entry_bottom,
.m2s .main_widget_bottom,
.m1s .main_widget_bottom {
	background-image: url(images/main_bottom.jpg);
}

.entry_bg {
	padding-top: 11px;
}

.main_widget_bg,
.post_list {
	padding-top: 1px;
}

.entry,
.main_widget {
	margin: 0px;
}

.blog_footer .main_widget_top,
.blog_footer .main_widget_bottom {
	height: 0px;
	background: none;
}

.blog_footer .main_widget_bg {
	padding-bottom: 0px;
}

.skin .blog_footer,
.blog_footer .main_widget_bg {
	background: none;
}

.widget_top,
.widget_bottom {
	height: 10px;
}

.widget {
	background-image: url(images/sidebar.jpg);
}

.widget_bg {
	background-image: url(images/sidebar_bg.jpg);
}

.widget_top {
	background-image: url(images/sidebar_top.jpg);
}

.widget_bottom {
	background-image: url(images/sidebar_bottom.jpg);
}

.mm1s .widget {
	background-image: url(images/wide_sidebar.jpg);
}

.mm1s .widget_bg {
	background-image: url(images/wide_sidebar_bg.jpg);
}

.mm1s .widget_top {
	background-image: url(images/wide_sidebar_top.jpg);
}

.mm1s .widget_bottom {
	background-image: url(images/wide_sidebar_bottom.jpg);
}

.wide_sidebar .widget {
	background-image: url(images/xwide_sidebar.jpg);
}

.wide_sidebar .widget_top {
	background-image: url(images/xwide_sidebar_top.jpg);
}

.wide_sidebar .widget_bg {
	background-image: url(images/xwide_sidebar_bg.jpg);
}

.wide_sidebar .widget_bottom {
	background-image: url(images/xwide_sidebar_bottom.jpg);
}

.widget_bg {
	padding-top: 1px;
}

.widget {
	margin: 0px;
}

h2.widget_title {
	margin: 0px;
	padding-top: 10px;
	padding-bottom: 5px;
}


/*
 * Colors
 */

body,
#body,
#header_wrapper {
	background-color: #eee;
	color: #000;
}

#header {
	background-color: #fff;
	color: #000;
}

#navbar {
	border-top: solid 1px #000;
	border-bottom: solid 1px #000;
	background-color: #222;
	color: #fff;
}

#body_bottom {
	background-color: #ddd;
	border-top: solid 1px #aaa;
}

#footer_wrapper {
	background-color: #600;
	color: #fff;
	border-top: solid 1px #aaa;
}

#footer,
#credits,
html /* credits bottom */ {
	background-color: #000;
	color: #fff;
}

#sitename {
	color: #b30000;
}

#go {
	background-color: #ddd;
	border: solid 1px #000;
	color: #000;
}

#navbar a {
	color: #fff;
}

#footer_wrapper a {
	color: #fff;
}

#footer_wrapper a:hover {
	color: #ffe5e5;
}

#footer a,
#credits a {
	color: #fff;
}

#footer a:hover,
#credits a:hover {
	color: #ffe5e5;
}

#header_boxes {
	background-color: #fff9f2;
}

#footer_boxes {
	background-color: #660000;
}

.entry,
.main_widget {
	background-color: #fff;
}

.widget {
	background-color: #fff;
}

h2.widget_title {
	border-bottom: solid 1px #bbb;
}

.widget_calendar thead {
	background-color: #222;
	color: #fff;
}

.widget_calendar tfoot {
	background-color: #fff9f2;
}



